@charset "UTF-8";

/* 초기화 */

* {
    margin: 0; padding: 0;
    font-family: Arial, 'Roboto', 'san-serif', 'Noto Sans KR', sans-serif, 'Noto Serif', serif;
}
a { text-decoration: none !important; }
img { border: 0; }
ul { list-style: none; }

#wrap {
    width: 100%;
    margin: 0 auto;
}

/* 헤더 */
#header {
    width: 100%;
    height: 900px;
}

#header_inner {
    width: 100%;
    margin: 0 auto;
    position:fixed;
    z-index: 10;
    background-color: #fff;

}

#header_inner .h_center {
    width: 1440px;
    margin: 0 auto;
}

.logo {
    width: 15%;
    height: 120px;
    float: left;
    background-color: darkgray;
}

/* .logo a {
    display: block;
    width: 100%;
    height: 100%;
} */

.gnb_container {
    width: 65%;
    height: 120px;
    float: left;

    
    background-color: darksalmon;
}

/* .menu {
    margin: 0 auto;
}
*/
.search {
    width: 20%;
    height: 120px;
    float: left;
    background-color: darkseagreen; 
}

#main_img {
    position: relative;
    top: 120px;
    width: 100%;
    height: 780px;
    background-color:tan;
}

/* 메인 컨텐츠 */

#main_wrap {
    width: 100%;
    margin: 0 auto;
}

/* 컨텐츠 01 */
#section_01 {
    width: 1440px;
    margin: 0 auto;
    padding: 0 130px;
}

.special {
    width: 100%;
}

.special .title {
    background-color: #234;
}

/* .box {
    padding-top: 40px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    overflow: hidden;
}

.box .img_01 {
    width: 450px;
    background-color: #666;
    text-align: center;
    position: relative;
    display: block;
    float: left;


}

.box .img_02 {
    width: 450px;
    padding: 0 45px;
    background-color: #333;
    text-align: center;
    position: relative;
    display: block;
    float: left;


}

.box .img_03 {
    width: 450px;
    background-color: #999;
    text-align: center;
    position: relative;
    display: block;
    float: left;


} */

/* 메인 배너 */
#main_banner {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    background-color: #568;
}


/* 컨텐츠 02 */

#section_02 {
    width: 1440px;
    margin: 0 auto;
    background-color:darkkhaki;
}

.box01 {
    padding: 130px 0;
}

.item_img {
    
}


.box02 {
    padding-bottom: 130px;
}

/* 푸터 */

#footer {
    width: 100%;
    height: 140px;
    background-color: #2E2E2E;
}

#footer > #inner {
    width: 1440px;
    margin: 0 auto;
}