@charset "UTF-8";

/* 메인 컨텐츠 */

#main_wrap {
    width: 100%;
    margin: 0 auto;
}


/* 컨텐츠 01 */

#section_01 {
    width: 1440px;
    margin: 0 auto;
    padding: 0 130px;
}

.special {
    width: 100%;
    margin: 130px 0 130px;
}

.special .title {
    text-align: center;
}

.special .title h3 {
    font-size: 30px;
    font-weight: 100;
    line-height: 43px;
}

.special .title p {
    font-size: 45px;
    font-weight: 400;
    line-height: 65px;
}

.special .line {
    margin: 80px auto;
    width: 40px;
    border-bottom: 1px solid #1A1A1A;
    transform: rotate(90deg);

}
.special .box {
    margin: 0 auto;
    text-align: center;

}

.box h3 {
    font-size: 30px;
    font-weight: 300;
    color:#fff;
    padding-top: 150px;
}

.box p {
    font-size: 30px;
    font-weight: 500;
    line-height: 50px;
    color:#fff;
}


.box .img_01 {
    display: inline-block;
    width: 450px;
    height: 450px;
    background: url(../images/img_box_01.png) center no-repeat;
}

.box .img_02 {
    display: inline-block;
    padding: 0 40px;
    width: 450px;
    height: 450px;
    background: url(../images/img_box_02.png) center no-repeat;
}

.box .img_03 {
    display: inline-block;
    width: 450px;
    height: 450px;
    background: url(../images/img_box_03.png) center no-repeat;
}

/* 메인 배너 */

.bg-holder#main_banner {
    width: 100%;
    height: 400px;
    margin: 0;
    background:url(../images/main_banner.png);
    background-position: center;
    text-align: center;
    background-repeat: no-repeat;
	background-size:cover;
	overflow:hidden;
    position: relative;
}


.container {
    position: relative;
    cursor: pointer;
    min-height: 400px;
}

.bg-holder {
    width: 100%;
    height: 100%;
}

#main_banner h3 {
    padding-top: 90px;
}

#main_banner h3 span {
    color: #fff;
    font-family: 'Noto Serif';
    font-size: 40px;
    font-weight: 100;
    letter-spacing: -0.03em;
}

#main_banner p span {
    color: #fff;
    font-weight: 350;
    font-size: 30px;
    line-height: 100px;
    letter-spacing: 0.2em;
}

/* 컨텐츠 02 */

#section_02 {
    width: 1440px;
    margin: 0 auto;
}

.box01 {
    overflow: hidden;
    padding: 130px 0;
}

.box01 .item_img {
    float: left;
    width: calc(100% - 720px);
    height: 450px;
    background: url(../images/img_helena.png) no-repeat;
}

.box01 .item_txt {
    width: 620px;
    height: 450px;
    float: right;
    padding-left: 100px;
}

.tit h1 span {
    font-weight: 500;
    font-size: 55px;
    line-height: 100px;
}

.tit p span {
    font-weight: 300;
    font-size: 30px;
    letter-spacing: -0.05em;
}

.item_txt .s {
    font-size: 18px;
    padding-top: 50px;
    color: #626262;
    letter-spacing: -0.05em;

}

.box02 {
    overflow: hidden;
    padding-bottom: 130px;
}

.box02 .item_img {
    float: right;
    width: 720px;
    height: 450px;
    background: url(../images/img_calias.png) no-repeat;
}

.box02 .item_txt {
    width: calc(100% - 720px);
    height: 450px;
    float: left;

}


@media screen and (max-width:767px) {

    /* 메인이미지 swiper 버튼 */
    .swiper-button-next{
        display: none;
    }

    .swiper-button-prev{
        display: none;
    }

    .swiper-container {
        width: 100%;
        height: 500px;
    }

    /* 메인 배너 */
    #main_banner h3 {
        padding-top: 90px;
    }
    
    #main_banner h3 span {
        color: #fff;
        font-family: 'Noto Serif';
        font-size: 40px;
        font-weight: 100;
        letter-spacing: -0.03em;
    }
    
    #main_banner p span {
        color: #fff;
        font-weight: 350;
        font-size: 20px;
        line-height: 80px;
        letter-spacing: 0.1em;
    }
    

    /* 컨텐츠 02 */
    #section_02 {
        width: 90%;
        margin: 0 auto;
    }
    
    .box01 {
        padding: 60px 0;
    }
    
    .box01 .item_img {
        width: 100vw;
        height: 450px;
        background: url(../images/img_helena.png) no-repeat;
    }
    
    .box01 .item_txt {
        width: 100vw;
        height: 450px;
        padding-left: 100px;
    }
    
    .tit h1 span {
        font-weight: 500;
        font-size: 55px;
        line-height: 100px;
    }
    
    .tit p span {
        font-weight: 300;
        font-size: 30px;
        letter-spacing: -0.05em;
    }
    
    .item_txt .s {
        font-size: 18px;
        padding-top: 50px;
        color: #626262;
        letter-spacing: -0.05em;
    
    }
    
    .box02 {
        overflow: hidden;
        padding-bottom: 130px;
    }
    
    .box02 .item_img {
        float: right;
        width: 720px;
        height: 450px;
        background: url(../images/img_calias.png) no-repeat;
    }
    
    .box02 .item_txt {
        width: calc(100% - 720px);
        height: 450px;
        float: left;
    
    }
}



@media screen and (min-width:768px) and (max-width:1240px) {

    /* 메인이미지 swiper 버튼 */
    .swiper-button-next{
        display: none;
    }

    .swiper-button-prev{
        display: none;
    }

    .swiper-container {
        width: 100%;
        height: 600px;
    }

    #section_01 {
        width: 100%;
        margin: 0 auto;
        padding: 0 130px;
    }

    .special {
    width: 100%;
    margin: 130px 0 130px;
}

}

@media screen and (min-width:1440px) {

}