@charset "UTF-8";

/* 메인 컨텐츠 */

#main_wrap {
    width: 100%;
    margin: 0 auto;
}


/* 컨텐츠 01 */

#section_01 {
    width: 1440px;
    margin: 0 auto;
}

.special {
    width: 100%;
    margin: 130px 0 130px;
}

.special .title {
    text-align: center;
}

.special .title h3 {
    font-size: 30px;
    font-weight: 100;
    line-height: 43px;
}

.special .title p {
    font-size: 45px;
    font-weight: 400;
    line-height: 65px;
}

.special .line {
    margin: 80px auto;
    width: 40px;
    border-bottom: 1px solid #1A1A1A;
    transform: rotate(90deg);

}
.special .box {
    margin: 0 auto;
    text-align: center;

}

.box h3 {
    font-size: 30px;
    font-weight: 300;
    color:#fff;
    padding-top: 150px;
}

.box p {
    font-size: 30px;
    font-weight: 500;
    line-height: 50px;
    color:#fff;
}


.box .img_01 {
    display: inline-block;
    width: 450px;
    height: 450px;
    background: url(../images/img_box_01.png) center no-repeat;
}

.box .img_02 {
    display: inline-block;
    padding: 0 40px;
    width: 450px;
    height: 450px;
    background: url(../images/img_box_02.png) center no-repeat;
}

.box .img_03 {
    display: inline-block;
    width: 450px;
    height: 450px;
    background: url(../images/img_box_03.png) center no-repeat;
}

/* 메인 배너 */

.bg-holder#main_banner {
    width: 100%;
    height: 400px;
    margin: 0;
    background:url(../images/main_banner.png);
    background-position: center;
    text-align: center;
    background-repeat: no-repeat;
	background-size:cover;
	overflow:hidden;
    position: relative;
}


.container {
    position: relative;
    cursor: pointer;
    min-height: 400px;
}

.bg-holder {
    width: 100%;
    height: 100%;
}

#main_banner h3 {
    padding-top: 90px;
}

#main_banner h3 span {
    color: #fff;
    font-family: 'Noto Serif';
    font-size: 40px;
    font-weight: 100;
    letter-spacing: -0.03em;
}

#main_banner p span {
    color: #fff;
    font-weight: 350;
    font-size: 30px;
    line-height: 100px;
    letter-spacing: 0.2em;
}

/* 컨텐츠 02 */

#section_02 {
    width: 1440px;
    margin: 0 auto;
}

.box01 {
    overflow: hidden;
    padding: 130px 0;
}

.box01 .item_img {
    float: left;
    width: calc(100% - 720px);
    height: 450px;
    background: url(../images/img_helena.png) no-repeat;
}

.box01 .item_txt {
    width: 620px;
    height: 450px;
    float: right;
    padding-left: 100px;
}

.tit h1 span {
    font-weight: 500;
    font-size: 55px;
    line-height: 100px;
}

.tit p span {
    font-weight: 300;
    font-size: 30px;
    letter-spacing: -0.05em;
}

.item_txt .s {
    font-size: 18px;
    padding-top: 50px;
    color: #626262;
    letter-spacing: -0.05em;

}

.box02 {
    overflow: hidden;
    padding-bottom: 130px;
}

.box02 .item_img {
    float: right;
    width: 720px;
    height: 450px;
    background: url(../images/img_calias.png) no-repeat;
}

.box02 .item_txt {
    width: calc(100% - 720px);
    height: 450px;
    float: left;

}

/* 미디어 쿼리 
주의점 : css속성 제일 밑에 작성해야한다. 공통사항 제외하고 변경하고싶은 사항 작성*/

@media screen and (min-width:320px) and (max-width:400px) {

    #section_01 {
        width: 100%;
        padding: 0px;
    }

    .special .title p {
            font-size: 2.3rem;
        }
    
    .special .line {
        margin: 60px auto;
    }

    .special {
        width: 100%;
        margin: 60px 0 60px;
    }

    .box .img_01 {
        width: 100%;
        margin-right: 0px;
    }
    
    .box .img_02 {
        width: 100%;
        margin: 60px 0;
        padding: 0px;
    }

    .box .img_03 {
        width: 100%;
        margin-left: 0px;
    }

    #main_banner p {
        padding-top: 20px;
    }

    #main_banner p span {
        line-height: 40px;
        letter-spacing: 0.1em;
        font-size: 23px;
    }
    
     /* 컨텐츠 02 */
    #section_02 {
        width: 90%;
    }

    .box01 {
        padding: 60px 0 160px;
    }
    
    .box02 {
        padding-bottom: 160px;
    }
    
    .box01 {
        padding: 60px 0;
    }
    
    .box01 .item_img {
        width: 100%;
    }
    
    .box01 .item_txt {
        width: 100%;
        height: 100%;
    }
    
    .box02 {
        padding-bottom: 50px;
    }

    .box02 .item_img {
        width: 100%;
    }
    
    .box02 .item_txt {
        width: 100%;
        height: 100%;
    
    }

    .btn_black {
        margin-top: 40px;
    }
}


@media screen and (min-width:401px) and (max-width:767px) {

    
    /* 메인 배너 */
    #main_banner h3 {
        padding-top: 90px;
    }
    
        
    #main_banner p span {
        line-height: 80px;
        letter-spacing: 0.1em;
    }
    
    /* 컨텐츠 01 */

    #section_01 {
        width: 100%;
    }

    .special {
        margin: 0;
    }

    .box .img_01 {
        width: 100%;
        margin-bottom: 60px;
    }

    .box .img_02 {
        width: 100%;

        margin-bottom: 60px;
        padding: 0px;
    }

    .box .img_03 {
        width: 100%;
        margin-bottom: 60px;
    }

    /* 컨텐츠 02 */
    #section_02 {
        width: 90%;
    }
    
    .box01 {
        padding: 60px 0;
    }
    
    .box01 .item_img {
        width: 100vw;
    }
    
    .box01 .item_txt {
        width: 100%;
        height: 330px;
    }
    
    .box02 {
        padding-bottom: 50px;
    }
    
    .box02 .item_txt {
        width: 100%;
        height: 330px;
    
    }

    .btn_black {
        margin-top: 40px;
    }
}



@media screen and (min-width:768px) and (max-width:1240px) {

    /* 메인이미지 swiper 버튼 */
    .swiper-button-next{
        display: none;
    }

    .swiper-button-prev{
        display: none;
    }

    .swiper-container {
        width: 100%;
        height: 600px;
    }

    /* 컨텐츠 01 */
    #section_01 {
        width: 100%;
        padding: 0px;
    }

    .special {
        width: 100%;
        margin: 130px 0 130px;
    }

    .box .img_01 {
        width: 30%;
        margin-right: 20px;
    }
    
    .box .img_02 {
        width: 30%;
        padding: 0px;
    }

    .box .img_03 {
        width: 30%;
        margin-left: 20px;
    }

    .box h3 {
        font-size: 20px;
    }
    
    .box p {
        font-size: 20px;
    }
    
    /* 컨텐츠 02 */
    #section_02 {
        width: 100%;
    }

    .box01 {
        padding: 50px;
    }

    .box01 .item_img {
        width: 50%;
    }
    
    .box01 .item_txt {
        width: 45%;
        padding-left: 10px; 
    }

    .box02 {
        padding: 0 50px 50px;
    }


    .box02 .item_img {
        width: 45%;
    }

    .box02 .item_txt {
        width: 50%;
    }

    .btn_black {
        margin-top: 40px;
    }
}

@media screen  and (min-width:1241px) and (max-width:1458px) {

    #section_01 {
        width: 100%;
        padding: 0px;
    }

    .box .img_01 {
        width: 30%;
        margin-right: 20px;
    }
    
    .box .img_02 {
        width: 30%;
        padding: 0px;
    }

    .box .img_03 {
        width: 30%;
        margin-left: 20px;
    }

    #section_02 {
        width: 94%;
    }


    .box01 .item_img {
        width: 50%;
    }
    
    .box01 .item_txt {
        width: 45%;
        padding-left: 0px;
    }

    .box02 .item_img {
        width: 45%;
    }
    
    .box02 .item_txt {
        width: 50%;
    
    }
    
}