@charset "UTF-8";

/* sub visual */

#sub_img {
    width: 100%;
}

#sub_img .visual {
    width: 100%;
    height: 450px;
    background-image: url(../images/sub_visual.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.visual .txt {
    color: #fff;
    text-align: center;
}

.txt h3 {
    font-size: 25px;
    font-weight: 350;
    letter-spacing: -0.02em;
}

.txt p span {
    font-family: 'Noto Serif';
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 120px;
}

/* sub01 */

#sub01 {
    width: 1440px;
    height: 1120px;
    margin: 0 auto;
}

#sub01 .info {
    text-align: center;
    margin: 120px 80px;
}

#sub01 .info .s_tit {
    font-family: 'Noto Sans KR';
    font-size: 60px;
    font-weight: 500;
}

#sub01 .info .s_desc {
    font-family: 'Noto Sans KR';
    font-size: 26px;
    font-weight: 300;
    line-height: 50px;
}

#sub01 .cont {
    width: 100%;
    position: relative;
}

#sub01 .cont .img_area {
    height: 600px;
    background-image: url(../images/cont01_bg.png);
    
}

#sub01 .cont .txt_area {
    width: 1240px;
    background-color: #fff;
    position: absolute;
    top: 500px;
    padding: 60px 0 60px 60px;
}

.cont .txt_area > h2 {
    font-size: 55px;
    font-family: 'Noto Sans KR';
    font-weight: 500;

}

.cont .txt_area > p {
    font-weight: 300;
    font-size: 30px;
    line-height: 100px;
}

.cont .txt_area .desc {
    font-size: 18px;
    line-height: 28px;
    color: #626262;
}

/* sub02 */

#sub02 {
    margin-top: 120px;
    width: 100%;
    height: 815px;
    background-image: url(../images/cont02_bg.png);
    background-repeat: no-repeat;
}

#sub02 .info {
    text-align: center;
    margin: 120px 80px;
}

#sub02 .info .s_tit {
    font-family: 'Noto Sans KR';
    font-size: 60px;
    font-weight: 500;
}

#sub02 .info .s_desc {
    font-family: 'Noto Sans KR';
    font-size: 26px;
    font-weight: 300;
    line-height: 50px;
}